.quote {
    background-color: #E5E7EB;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    /* padding: 10px 0 0; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #F9FAF8;
    min-height: 100vh;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 1% 10% 0;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    gap: 16px;
    display: flex;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 5% 10%;
    justify-content: space-between;
    /* height: 25vh; */
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.hero-right img {
    max-width: 100%;
    max-height: 250px;
    /* padding: 0; */
}

.sign-up {
    background-color: #3882F6;
    color: inherit;
    border-radius: 6px;
    padding: 8px 32px;
    font-size: 18px;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 32px 0;
}

.information-container {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    gap: 32px;
}
.information img {
    border: 4px #3882F6 solid;
    border-radius: 12px;
    height: 128px;
    width: 128px;
}

.information {
    color: #909194;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: min-content;
    /* max-width: 256px; */
    text-align: center;
    flex: 1;
    /* border: 1px red solid; */
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 64px 128px;

}

.quote-content {
    font-size: 36px;
    font-style: italic;
    color: #909194;
    font-weight: 100;
}

.quote-attribution {
    color: #1F2937;
    align-self: flex-end;
    margin-right: 32px;
    font-weight: bold;
}

.cta {
    padding: 5% 10%;
}

.banner {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 2.5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-header {
    font-weight: bold;
    font-size: 24px;
}

.banner .sign-up {
    border: 1px white solid;
    min-width: max-content;
    /* flex: initial; */
}

.footer {
    background-color: black;
    padding: 32px 0;
    text-align: center;
    /* margin-top: auto; */
}

/* .button-container {
    align-items: center;
    justify-content: center;
    display: flex;
} */

.main-content {
    flex-grow: 1;
}